<a href="#{{fileHtmlId}}" class="d2h-file-name">
    <li class="d2h-file-list-line">
        <span class="d2h-file-name-wrapper">
            {{>fileIcon}}
            <p>{{fileName}}</p>
            <span class="d2h-file-stats">
                <span class="d2h-lines-added">{{addedLines}}</span>
                <span class="d2h-lines-deleted">{{deletedLines}}</span>
            </span>
        </span>
    </li>
</a>
